body {
  background-color: lightgoldenrodyellow;
}

.App {
  color: black;
}

.app-container {
  flex-direction: column;
  gap: 3px;
  padding: 10px;
}

.title {
  font-size: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 35px;
  background-color: gold;
}

td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background-color: lightblue;
  width: 100%;
}

.button {
  cursor: pointer;
  margin-right: 25px;
  font-size: 15px;
}

form * {
  font-size: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#create-modal {
  cursor: pointer;
  border: 5px solid #4caf50;
  font-size: 35px;
}

#update-button {
  cursor: pointer;
  width: 200px;
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 25px;
}

#moreInfo-button {
  cursor: pointer;
  width: 200px;
  border-radius: 15px;
  font-size: 25px;
}

#delete-button {
  cursor: pointer;
  width: 200px;
  background-color: red;
  color: white;
  padding: 1px 10px;
  border-radius: 15px;
  font-size: 25px;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  color: lightgrey;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 800px;
  background-color: tan;
  padding: 20px 20px;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-size: 30px;
}

.modal-body {
  padding: 5px;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
}

img {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 450px;
  height: 125px;
}

.change-order {
  cursor: pointer;
  border: 5px solid blue;
}

.dashboard {
  cursor: pointer;
  border: 5px solid brown;
}

.iframe-container,
iframe {
  margin: 90px 50px auto;
  background-color: lightslategray;
}

.options-container {
  background-color: lightgray;
}
