body {
  background-color: lightgoldenrodyellow;
}

.App {
  color: black;
}

.app-container {
  flex-direction: column;
  gap: 3px;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background-color: gold;
}

td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background-color: lightblue;
  width: 100%;
}

form * {
  font-size: 20px;
}
#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  color: lightgrey;
}
