body {
  background-color: lightgoldenrodyellow;
}

.App {
  color: black;
}

.app-container {
  flex-direction: column;
  gap: 3px;
  padding: 10px;
}

.title {
  font-size: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background-color: gold;
}

td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background-color: lightblue;
  width: 100%;
}

form * {
  font-size: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#create-modal {
  cursor: pointer;
  line-height: 50px;
  width: 180px;
  font-size: 20pt;
  font-family: tahoma;
  margin-top: 15px;
  margin-right: 300px;
  position: absolute;
  top: 0;
  right: 0;
}
#update-button {
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 1px 15px;
  border-radius: 10px;
  font-size: 20px;
}

#delete-button {
  cursor: pointer;
  background-color: red;
  color: white;
  padding: 1px 15px;
  border-radius: 10px;
  font-size: 20px;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  color: lightgrey;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 1000px;
  background-color: white;
  padding: 20px 20px;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-size: 30px;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 450px;
  height: 125px;
}

.change-order {
  cursor: pointer;
  line-height: 50px;
  width: 180px;
  font-size: 20pt;
  font-family: tahoma;
  position: absolute;
}
